<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header(~{::title},~{})">
    <title>首页</title>
</head>
<body style="text-align: center">
<div class="layui-container" id="container" style="width: fit-content">
    <table class="layui-table" id="soduku" lay-filter="sodukuEvent"></table>
    <div>
        <button id="submit" type="button" class="layui-btn layui-btn-normal">解答</button>
        <button id="reset" type="button" class="layui-btn layui-btn-danger">重置</button>
    </div>
</div>
<div th:include="include::footer(~{})">
</div>
<script th:inline="none">
    let data = []
    let windowWidth = $(document).width
    layui.use('table', function () {
        initData();
        let table = layui.table;
        table.renderTable = function () {
            table.render({
                elem: '#soduku',
                cols: [[
                    {field: 'number1', title: 'A', event: 'number1', templet: function (data) {return formatContent(data, 1)}},
                    {field: 'number2', title: 'B', event: 'number2', templet: function (data) {return formatContent(data, 2)}},
                    {field: 'number3', title: 'C', event: 'number3', style: "border-right:1px solid #585858", templet: function (data) {return formatContent(data, 3)}},
                    {field: 'number4', title: 'D', event: 'number4', templet: function (data) {return formatContent(data, 4)}},
                    {field: 'number5', title: 'E', event: 'number5', templet: function (data) {return formatContent(data, 5)}},
                    {field: 'number6', title: 'F', event: 'number6', style: "border-right:1px solid #585858", templet: function (data) {return formatContent(data, 6)}},
                    {field: 'number7', title: 'G', event: 'number7', templet: function (data) {return formatContent(data, 7)}},
                    {field: 'number8', title: 'H', event: 'number8', templet: function (data) {return formatContent(data, 8)}},
                    {field: 'number9', title: 'I', event: 'number9', templet: function (data) {return formatContent(data, 9)}}
                ]],
                data: data,
                done: function (res, curr, count) {
                    for (let i = 0; i < 9; i++) {
                        let row = $("tr[data-index='" + i + "']")
                        row[0].childNodes.forEach((item, index) => {
                            if (i === 2 || i === 5) {
                                item.style["border-bottom"] = "1px solid #585858";
                            }
                            if (i%2 === 0) {
                                if (index%2 === 0) {
                                    item.style["background-color"] = "#EFFBFB";
                                } else {
                                    item.style["background-color"] = "#FFFFFF";
                                }
                            } else {
                                if (index%2 !== 0) {
                                    item.style["background-color"] = "#EFFBFB";
                                } else {
                                    item.style["background-color"] = "#FFFFFF";
                                }
                            }
                        })
                    }
                }
            })
        };
        function formatContent(data, index) {
            return '<span style="width: fit-content;font-weight:bold;font-size: 14px;color: ' + data["color" + index] + ';">'+ data["number" + index] +'</span>'
        }
        table.renderTable();
        //监听单元格事件
        table.on('tool(sodukuEvent)', function (obj) {
            let index = obj.data.index - 1;
            data[index][obj.event] = '';
            let numberIndex = obj.event.toString().replace("number", "");
            let postEntity = {
                dataList: data,
                coordinate: {
                    x: index,
                    y: numberIndex - 1
                }
            }
            if (obj.event) {
                getBtns(postEntity, index, obj.event)
            }
        });

        function getBtns(entity, index, event) {
            Util.ajax({
                url: '/soduku/btns',
                data: entity,
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    changeNumber(index, event, res)
                }
            });
        }

        function changeNumber(row, field, btns) {
            layer.msg("Choose number", {
                btnAlign: 'c',
                btn: btns,
                time: 0,
                btn1: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn0')[0].innerHTML)},
                btn2: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn1')[0].innerHTML)},
                btn3: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn2')[0].innerHTML)},
                btn4: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn3')[0].innerHTML)},
                btn5: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn4')[0].innerHTML)},
                btn6: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn5')[0].innerHTML)},
                btn7: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn6')[0].innerHTML)},
                btn8: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn7')[0].innerHTML)},
                btn9: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn8')[0].innerHTML)},
                end: function () {
                    table.renderTable();
                }
            });
        }

        function btnEvent(row, index, field, number) {
            data[row][field] = number;
            layer.close(index);
        }

        $('#submit').on('click', function () {
            Util.ajax({
                url: '/soduku/fill',
                data: data,
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    for (let i = 0; i < 9; i++) {
                        let origin = data[i]
                        let result = res[i]
                        for (let j = 1; j < 10; j++) {
                            if (origin["number" + j] === "") {
                                origin["number" + j] = result["number" + j]
                                origin["color" + j] = "#01A9DB"
                            }
                        }
                    }
                    console.log(data)
                    table.renderTable();
                }
            })
        })
        $('#reset').on('click', function () {
            initData();
            table.renderTable();
        })

        function initData() {
            data = []
            for (let i = 1; i < 10; i++) {
                let obj = {index: i}
                for (let j = 1; j < 10; j++) {
                    obj["number" + j] = '';
                    obj["color" + j] = '#666666';
                }
                data.push(obj)
            }
        }
    })
</script>
</body>
</html>
<style>
    th, td {
        padding: 0 0 !important;
        width: 35px;
        height: 35px;
    }
    span {
        padding: 0 0;
    }
    .layui-table-cell {
        text-align: center;
        width: 35px !important;
        height: 35px !important;
        padding: 0 0 !important;
    }
    .layui-table-header, .layui-table-body, .layui-table-main, .layui-table-box, .layui-form, .layui-border-box, .layui-table-view {
        width: fit-content;
    }
    .layui-table tbody tr:hover {
        color: unset !important;
    }
</style>