<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header(~{::title},~{})">
    <title>首页</title>
</head>
<body style="text-align: center">
<div class="layui-container" id="container" style="width: fit-content">
    <table class="layui-table" id="soduku" lay-filter="sodukuEvent"></table>
    <div>
        <button id="submit" type="button" class="layui-btn layui-btn-normal">解答</button>
        <button id="reset" type="button" class="layui-btn layui-btn-danger">重置</button>
    </div>
</div>
<div th:include="include::footer(~{})">
</div>
<script th:inline="none">
    let data = []
    layui.use('table', function () {
        initData();
        let table = layui.table;
        table.renderTable = function () {
            table.render({
                elem: '#soduku',
                cols: [[
                    {field: 'number1', title: 'A', width: 50, event: 'number1'},
                    {field: 'number2', title: 'B', width: 50, event: 'number2'},
                    {field: 'number3', title: 'C', width: 50, event: 'number3'},
                    {field: 'number4', title: 'D', width: 50, event: 'number4'},
                    {field: 'number5', title: 'E', width: 50, event: 'number5'},
                    {field: 'number6', title: 'F', width: 50, event: 'number6'},
                    {field: 'number7', title: 'G', width: 50, event: 'number7'},
                    {field: 'number8', title: 'H', width: 50, event: 'number8'},
                    {field: 'number9', title: 'I', width: 50, event: 'number9'}
                ]],
                data: data
            })
        };
        table.renderTable();
        //监听单元格事件
        table.on('tool(sodukuEvent)', function (obj) {
            let index = obj.data.index - 1;
            data[index][obj.event] = '';
            let numberIndex = obj.event.toString().replace("number", "");
            let postEntity = {
                dataList: data,
                coordinate: {
                    x: index,
                    y: numberIndex - 1
                }
            }
            if (obj.event) {
                getBtns(postEntity, index, obj.event)
            }
        });

        function getBtns(entity, index, event) {
            Util.ajax({
                url: '/soduku/btns',
                data: entity,
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    changeNumber(index, event, res)
                }
            });
        }

        function changeNumber(row, field, btns) {
            layer.msg("Choose number", {
                btnAlign: 'c',
                btn: btns,
                time: 0,
                btn1: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn0')[0].innerHTML)},
                btn2: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn1')[0].innerHTML)},
                btn3: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn2')[0].innerHTML)},
                btn4: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn3')[0].innerHTML)},
                btn5: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn4')[0].innerHTML)},
                btn6: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn5')[0].innerHTML)},
                btn7: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn6')[0].innerHTML)},
                btn8: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn7')[0].innerHTML)},
                btn9: function (index, layero) {btnEvent(row, index, field, $('.layui-layer-btn8')[0].innerHTML)},
                end: function () {
                    table.renderTable();
                }
            });
        }

        function btnEvent(row, index, field, number) {
            data[row][field] = number;
            layer.close(index);
        }

        $('#submit').on('click', function () {
            Util.ajax({
                url: '/soduku/fill',
                data: data,
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    data = res;
                    table.renderTable();
                }
            })
        })
        $('#reset').on('click', function () {
            initData();
            table.renderTable();
        })

        function initData() {
            data = []
            for (let i = 1; i < 10; i++) {
                let obj = {index: i}
                for (let j = 1; j < 10; j++) {
                    obj["number" + j] = '';
                }
                data.push(obj)
            }
        }
    })
</script>
</body>
</html>
<style>
    .layui-table-header, .layui-table-body, .layui-table-main, .layui-table-box, .layui-form, .layui-border-box, .layui-table-view {
        width: fit-content;
    }
</style>